/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/* navigation */
.navigation{
    display: table;
}

.navigation a,
.navigation a:focus,
.navigation a:active{
    font-size: 20px;
    background-color: #333;
    color: #fff;
    padding-left: 13px;
    padding-right: 13px;
    margin-right: -4px;
}

.navigation a.btn-prev.prev-testimoni,
.navigation a.btn-prev.prev-testimoni:focus,
.navigation a.btn-prev.prev-testimoni:active{
	background-color:#2a2a2a;
}

.navigation a.btn-next.next-testimoni,
.navigation a.btn-next.next-testimoni:focus,
.navigation a.btn-next.next-testimoni:active{
	background-color:#222222;
}

.navigation a.btn-next,
.navigation a.btn-next:focus,
.navigation a.btn-next:active{
	background-color:#2a2a2a;
}

.navigation a:hover{
    color: #fff;
}

.navigation a i{
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    width: 16px;
    height: 24px;
}

.navigation a i.left{
    margin-right: 3px;
    background-image: url(arrow-left.png);
}

.navigation a i.right{
    margin-left: 3px;
    background-image: url(arrow-right.png);
}

